<head>
<title>HTML Palindromo</title>

<script>
function palindromo(){
  
  var cadena=document.getElementById("valor").value;
  // convierto en minusculas
  cadena = cadena.toLowerCase();
  // convierto en array
  var letrasEspacios = cadena.split("");
  
  // eliminar espacios en blanco
  
  var cadenaSinEspacios = "";
  
  for (i in letrasEspacios){
    if(letrasEspacios[i] != " "){
      cadenaSinEspacios += letrasEspacios[i];
    }
  }
  
  var letras = cadenaSinEspacios.split("");
  var letrasReves = cadenaSinEspacios.split("").reverse();
  var igual = true;
  
  for(i in letras){
    if (letras[i] != letrasReves[i]){
      igual = false;
      break;
    }
    else{
      igual = true;
    }      
  }
  
  if(igual){
	document.getElementById("resultado").innerHTML="Es un palindromo.";
    return false;    
  }
  else{
    document.getElementById("resultado").innerHTML="No es un palindromo.";
    return false;  
  }
}	
</script>

</head>
<body>
<div>

 <h3>Introduce una palabra</h3>
<form>
	<input type="text" id="valor" value="">
	<input type="submit" onclick="return palindromo()" value="Validar">
</form>
 
<h4><div id="resultado"></div></h4>
</div>
</body>



















