<head>
<title>HTML Ejercicio #2</title>
<meta charset="utf-8">
</head>
<body>
<div>
<h1>DON QUIJOTE!</h1>
<h2>DON QUIJOTE!</h2>
<br><br>
<p>«En un lugar de la Mancha, de cuyo nombre no quiero acordarme, no ha mucho tiempo que vivía un hidalgo de los de lanza en astillero, adarga antigua, rocín flaco y galgo corredor. Una olla de algo más vaca que carnero, salpicón las más noches, duelos y quebrantos los sábados, lentejas los viernes, algún palomino de añadidura los domingos, consumían las tres partes de su hacienda.<p/>
<br><br>
<b>Texto en negrita.</b>
<br><br>
<i>Texto en Cursiva</i>
<br><br>
<code>
 #include main() { for(x=0;x++;x=1) { printf ("Don Quijote de la Mancha!\n"); } } 
</code>
</div>
</body>